* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}

body {
  background-color: antiquewhite;
}

h1, h2, h3, h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: larger;
}

nav {
  margin: 1em auto 3em auto;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}

nav li:first-child {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
  font-family: cursive;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

header, section {
  margin: 2em auto;
  background-color: antiquewhite;
  border-radius: 8em;
  padding: min(2em, 5%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

header img {
  max-width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

.grid-container {
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "img-1 img-1 img-2 img-2"
  "img-1 img-1 img-3 img-3"; 
  gap: 1em;
}

.grid-container img {
  height: 100%;
  width: 100%;
  border-radius: .5em;
  transition: 100ms ease;
}

.grid-container img:hover {
  scale: 1.05;
}